body {
    background-image: url('images/mm.jpg');
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 50px;
    background: #fff;
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    box-shadow: 
    0 0 30px 10px rgba(25, 10, 114, 0.2), /* Multiple shadows for textured appearance */
    0 0 30px 20px rgba(79, 105, 238, 0.1),
    0 0 40px 30px rgba(0, 0, 0, 0.1),
    0 0 50px 40px rgba(0, 0, 0, 0.2),
    0 0 90px 50px rgba(0, 0, 0, 0.2);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transform: perspective(1000px) rotateX(15deg); /* 3D transform */
}
}

h1 {
    color: #333;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    width: 100%;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.done {
    text-decoration: line-through;
    color: #999;
}
